<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.managementsystem.mapper.MdformMapper">
    <insert id="addMdForm" parameterType="com.managementsystem.entity.Mdform">
        Insert into mdForm
        values(#{fId},#{uId},#{state})
    </insert>

</mapper>
