<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.managementsystem.mapper.ReservoirareaMapper">
    <resultMap id="baseMap" type="com.managementsystem.entity.Reservoirarea" autoMapping="false">
        <result property="raId" column="raId"></result>
        <result property="raName" column="raName"></result>
        <result property="raType" column="raType"></result>
        <result property="raWhId" column="raWhId"></result>
        <result property="raCreatorId" column="raCreatorId"></result>
        <result property="raComment" column="raComment"></result>
        <result property="raModifierId" column="raModifierId"></result>
        <result property="raModificationTime" column="raModificationTime"></result>
        <result property="raCreationTime" column="raCreationTime"></result>
    </resultMap>
    <resultMap id="reservoirareaWarehouseMap" type="com.managementsystem.entity.Reservoirarea" extends="baseMap" autoMapping="false">
        <result property="warehouse.whId" column="whId"></result>
        <result property="warehouse.whName" column="whCreatorId"></result>
        <result property="warehouse.whComment" column="whComment"></result>
        <result property="warehouse.whModifierId" column="whModifierId"></result>
        <result property="warehouse.whModificationTime" column="whModificationTime"></result>
        <result property="warehouse.whCreationTime" column="whCreationTime"></result>
    </resultMap>
    <resultMap id="reservoirareaUserMap" type="com.managementsystem.entity.Reservoirarea" autoMapping="false" extends="baseMap">
        <result property="user.uId" column="uId"></result>
        <result property="user.uPassword" column="uPassword"></result>
        <result property="user.uName" column="uName"></result>
        <result property="user.uAuthority" column="uAuthority"></result>
        <result property="user.uPhone" column="uPhone"></result>
        <result property="user.uEmail" column="uEmail"></result>
        <result property="user.uSex" column="uSex"></result>
        <result property="user.uCreatorId" column="uCreatorId"></result>
        <result property="user.uModifierId" column="uModifierId"></result>
        <result property="user.uCreationTime" column="uCreationTime"></result>
        <result property="user.uModificationTime" column="uModificationTime"></result>
    </resultMap>
    <select id="findAll" resultType="com.managementsystem.entity.Reservoirarea">
        select *
        from reservoirarea
    </select>

    <insert id="addReservoirarea"  parameterType="com.managementsystem.entity.Reservoirarea">
      insert into reservoirarea
      values
      (#{raId},#{raName},#{raType},#{raWhId},#{raWhName},#{raCreatorId},#{raComment},#{raModifierId},#{raModificationTime},#{raCreationTime})
--       Insert into carrier values('c202103170003','韵达',1,'053187966003','王登丰',123456,'位于广州',123456,'2021-03-17 15:54:12','2021-03-17 15:54:12');

    </insert>
    <update id="editReservoirarea" parameterType="com.managementsystem.entity.Reservoirarea">
        update reservoirarea
        set raName=#{raName},raType=#{raType},raComment=#{raComment},raModifierId=#{raModifierId},raModificationTime=#{raModificationTime}
        where raId = #{raId}
    </update>

    <delete id="deleteReservoirarea">
        delete from reservoirarea where raId = #{raId}
    </delete>

    <select id="getReservoirareaByWhId" resultType="com.managementsystem.entity.Reservoirarea">
        select *
        from reservoirarea
        where raWhId = #{whId}
    </select>
</mapper>
